$darkblue: #021c27;
$blue: #05668d;
$darkteal: #028090;
$teal: #00a896;
$green: #02c39a;
$paleyellow: #f0f3bd;
$darkbrown: #424334;
$blackish: #161712;

$content-width: 800px;
$main: $green;
$font-style: 'Open Sans', sans-serif;
$font-color: $blackish;
$link-color: $darkteal;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: $darkteal;
$light: #E7EDF4;
$header:  $darkblue;


*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
